.App {
  text-align: center;
}

body {
  background-color: rgb(210, 168, 30);
  min-height: 100vh;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

footer, nav ul {
  background-color: #dddddd;
}

nav li, span {
  display: inline;
  padding: 10px;
}

footer {
 position: absolute;
 bottom: 0;
 width: 100%;
}

footer p {
  margin: 10px 0px;
}

.menu-left {
  float:left;
}

.menu-right {
  float: right;
  /* margin-left: auto; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
